#sentry-feedback {
    --foreground: #2b2233;
  --background: #ffffff;
  --accent-foreground: white;
  --accent-background: rgba(88, 74, 192, 1);
  --success-color: #268d75;
  --error-color: #df3338;
  --border: 1.5px solid rgba(41, 35, 47, 0.13);
  --box-shadow: 0px 4px 24px 0px rgba(43, 34, 51, 0.12);
  --outline: 1px auto var(--accent-background);
  --interactive-filter: brightness(95%);
}
.dark #sentry-feedback {
   --foreground: #ebe6ef;
  --background: #29232f;
  --accent-foreground: white;
  --accent-background: rgba(88, 74, 192, 1);
  --success-color: #2da98c;
  --error-color: #f55459;
  --border: 1.5px solid rgba(235, 230, 239, 0.15);
  --box-shadow: 0px 4px 24px 0px rgba(43, 34, 51, 0.12);
  --outline: 1px auto var(--accent-background);
  --interactive-filter: brightness(150%);
}
